

    label.uploadImage {
       
        width: 100%;
        padding: 20px;
        border: 2px dashed #716a6a;
        // background-image: url(https://www.travaux.com/static/svg-icons/upload.large.svg);
        background-repeat: no-repeat;
        background-position: left;
        // cursor: pointer;
        // background-size: contain;
        // display: flex;
        // justify-content: center;
        // align-items: center;

    }
