* {
  padding: 0;
  margin: 0;
}
body {
  background-color: #ffffff;
}
.main_button_color {
  background-color: #3f27ba !important;
  :hover {
    background-color: #330691 !important;
  }
}
.main_button {
  padding: 13px 27px;
  margin-top: 23px;
  background: #3f27ba;
  border: navajowhite;
  border-radius: 24px;
  color: white;
  font-weight: 600;
  transition: 0.3s;
  &:hover {
    background-color: #330691;
    transition: 0.3s;
  }
}

.secondary_button {
  padding: 13px 27px;
  margin-top: 23px;
  background: transparent;
  border: navajowhite;
  border: 2px solid #330691;
  color: #330691;
  border-radius: 24px;
  font-weight: 600;
  transition: 0.3s;
  &:hover {
    background-color: #ddd;
    transition: 0.3s;
  }
}
.check_box_item {
  background: #eeeeee;
  margin: 10px;
  padding: 10px;
  font-size: 20px;
  box-shadow: 10px 10px 10px #dde;
}
.primary_button {
  padding: 10px 20px;
  background-color: #017acd;
  transition: 0.3s;
  border: none;
  color: white;
  padding: 18px 29px;
  border-radius: 57px;
  font-weight: 700;

  &:hover {
    background-color: #01528a;
    transition: 0.3s;
  }
}
.forget_input {
  width: 80%;
  height: 55px;
  border: 2px solid gray;
  border-radius: 5px;
}
.text_blue {
  color: #017acd;
}

.input_item.d-flex.justify-content-between.align-items-center {
  width: 693px;
}

.input_item.d-flex.justify-content-between.align-items-center {
  background: #ffffff;
  padding: 1.5% 2%;
  border-radius: 30px;
}

.input_item.d-flex.justify-content-between.align-items-center svg {
  color: #017acd;
  margin-right: 7px;
}

.input_item.d-flex.justify-content-between.align-items-center input {
  width: 534px;
  padding: 4px 0px;
  border: none;
  outline: none;
}

.input_item.d-flex.justify-content-between.align-items-center button {
  background: #017acd;
  padding: 6px 0px;
  color: white;
  padding: 9px 14px;
  border-radius: 26px;
  border: none;
  &:hover {
    background-color: #01528a;
  }
}

.input_filter.d-flex.justify-content-between.align-items-center p {
  border: 1px solid gray;
  padding: 7px;
  cursor: pointer;
  &:hover {
    background-color: #e4f4ff;
  }
}

.project_card {
  box-shadow: 16px 16px 45px 15px #ddd;
  background: #ffffff;
  border-radius: 10px;
  padding: 10px;
}
@media only screen and (min-width: 800px){
  .project-img{
    width: 100px;
    height: 100px;
  }
}
@media only screen and (min-width: 800px){
  .project-img{
    width: 100px;
    height: 100px;
  }
  .project_card{
    display: flex;
  }
}

