.service_cart_details_header {
  .header_wrraper {
    .header_content {
      h4 {
        font-size: 40px;
        color: #2c2c2c;
        font-weight: 700;
        padding-right: 344px;
        margin-top: 100px;
        line-height: 1.3;
      }
      p {
        font-size: 15px;
        margin-top: 15px;
        padding-right: 480px;
      }
    }
  }
}
