.more_services {
  margin-top: 14px;
  height: 90px;
  border-bottom: 1px solid lightgray;
  padding-top: 16px;
  a {
    color: rebeccapurple;
    font-size: 20px;
    font-weight: 500;
    span {
      &:last-child {
        color: rebeccapurple;
        font-size: 28px;
      }
    }
  }
  &:last-child {
    border-bottom: none !important;
  }
}
