@import './global/global';
@import './abstract/variable';
@import './overides/bootstrap';
@import './global/reset';
@import './components/common/navbar';
@import './components/Home/headerMain';
@import './components/Home/header';
@import './components/Home/serviceCard';
@import './components/Home/CraftsmenJobs';
@import './components/common/footer';
@import './components/publishProjects/rootTitle';
@import './components/publishProjects/uploadImage';
@import './components/serviceCartDetails/headerParent';
@import './components/serviceCartDetails/headerParent.scss';
@import './components/serviceCartDetails/serviceHeader.scss';
@import './components/serviceCartDetails/detailsCart.scss';
@import './components/serviceCartDetails/findCraftMan.scss';
@import './components/serviceCartDetails/moreServices.scss';
@import './components/Login/loagin';
@import './components/serviceCartDetails/serviceDetails';
@import './components/serviceCartDetails/banner';
@import './components/Admin/adminDashboard';
@import './components/Login/freeRegister.scss';
@import './components/Login/login.scss';
@import './components/PrixDes/prixdes.scss';
@import './components/FromComment/_fromComment.scss';
@import './components/publishProjects/_myProject.scss';
@import './components/Contacts/contacts_interested.scss';
@import './components/Recommended/recommended.scss';
@import './components/MyProjectsPage/MyProjectsPage.scss';
<<<<<<< HEAD
@import './components/Sommes/Sommes.scss';
=======
@import './components/MyAccount/MyAccount.scss';
>>>>>>> 1256811dca8917cbe6eb0b20480c962c8ff0b53d
