@import './global/global';
@import './abstract/variable';
@import './overides/bootstrap';
@import './global/reset';
@import './components/common/navbar';
@import './components/Home/headerMain';
@import './components/Home/header';
@import './components/Home/serviceCard';
@import './components/Home/CraftsmenJobs';
@import './components/common/footer';
@import './components/publishProjects/rootTitle';
@import './components/publishProjects/uploadImage';
<<<<<<< HEAD
@import './components/Login/loagin';
=======
>>>>>>> rajuahmmad
@import './components/serviceCartDetails/header';
@import './components/serviceCartDetails/headerParent.scss';
@import './components/serviceCartDetails/detailsCart.scss';
@import './components/serviceCartDetails/findCraftMan.scss';
@import './components/serviceCartDetails/moreServices.scss';
