.project_btn{
    border: 1px solid gray;
    padding: 10px;
    border-radius: 5px;
    background: transparent;
}
.envoyer_tex{
    font-weight: 700;
    color: blue;
    margin-right: 5px;
 }
 .projects_footer{
     background: #F0F5FE;
     padding: 16px 0px;
 }