.recommended-top-card{
    padding: 1rem;
    background-color: #F5F0D7;
    border-radius: 10px
}
.card_img{
     height: 60px;
     width: 60px;
     border-radius: 50%;

}
.recommended_card-btn{
    width: 100%;
    border-radius: 20px;
    font-weight: 600;
}
.recommended_icon{
    display: flex;
    flex-direction: column;
	align-items: center;
}
.show_more-btn{
    border: 2px solid blue;
    border-radius: 50px;
    padding: 10px 20px;
    font-weight: 600;
}
#btnText{
    display: none;
}
.cancel_btn{
    background: #FFFAFA;
    border: none;
    padding: 10px 0px;
    color: #39288F;
    font-weight: 600;
    img{
    filter: invert(18%) sepia(79%) saturate(1662%) hue-rotate(234deg) brightness(88%) contrast(106%);
    }

     &:hover {
    background-color: #AFEEEE;
    
  }
 }

 .cake_icon{
     width: 40px;
     background: #B09841;
     padding: 15px 10px;
     margin-top: -15px;
     border-radius: 0 0 5px 5px;
     margin-right: 10px;
 }
 #more{
     display: none;
 }