.nav_header {
  .header_link {
    h6 {
      color: #ddd;
    }

    button {
      cursor: pointer;
      border: 1px solid #ddd;
      padding: 7px 6px;
      border-radius: 4px;
      background-color: transparent;
      color: white;
      font-weight: 600;
      font-size: 15px;
      transition: 0.3s;
      &:hover {
        background-color: rgba(221, 221, 221, 0.336);
        transition: 0.3s;
      }
    }
  }
  @media only screen and (max-width: 600px) {
    background-color: #ffff;
    .header_link {
   
    
      h6 {
        color: rgb(5, 2, 2);
      }
      button {
        button {

          background-color: transparent;
          color: rgb(22, 21, 21);
          transition: 0.3s;
          &:hover {
            background-color: rgba(163, 109, 109, 0.336);
            transition: 0.3s;
          }
        }
        color: black;
      }
    }
  }
}
.dropdown-menu[data-bs-popper] {
    left: -135px; 
}

.dropdown-toggle::after {
    margin-left: 0;
    vertical-align: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 0;
    border-left: 0;
}
.logout_individual{
  border: 1px solid gray;
  padding: 8px;
  color: #000;
  font-weight: 600;
  border-radius: 3px;
}
.register_btn{
  border: 1px solid gray;
  padding: 8px;
  font-weight: 600;
  color: #fff;
  border-radius: 3px;
}

primary.dropdown-toggle {
    color: #000;
    background-color: #fff;
    border-color: grey;
}
.btn-check:checked + .btn-primary, .btn-check:active + .btn-primary, .btn-primary:active, .btn-primary.active, .show > .btn-primary.dropdown-toggle {
    color: #000;
    background-color: #fff;
    border-color: gray;
}


.btn-check:checked + .btn-primary:focus, .btn-check:active + .btn-primary:focus, .btn-primary:active:focus, .btn-primary.active:focus, .show > .btn-primary.dropdown-toggle:focus {
    box-shadow: none
}

@REM .nav_header .header_link button{
@REM   color: #000;
@REM }