 label.uploadImageMyProfile {
        width: 90px;
        height: 90px;
        border: 2px dashed #716a6a;
        background-image: url(https://www.travaux.com/static/svg-icons/upload.large.svg);
        background-repeat: no-repeat;
        background-position: left;
        cursor: pointer;
        background-size: contain;
    }
    .uploadImage-inline{
        display: inline-block;
    }
    .imageCancel{
        position: reletive;
        .imageCancel_icon{
            position: absolute;
            left: 12%;
            color: #017acd;
            background-color: #fff;
            border-radius: 10px;
            padding: 1px;
        }
    }
