.login_button {
  color: white;
  background: #017acd;
  border: navajowhite;
  border-radius: 26px;
  padding: 14px 26px;
  font-weight: 600;
  transition: 0.3s;
  &:hover {
    background: #01528a;
    transition: 0.3s;
  }
}
.google_icon{
  font-size: 30px;
  margin-right: 10px;
}
.socialButton{
  
  width: 20rem;
  height: 3rem;
  margin: 30px 0;
  transition: all 0.5;
  overflow: hidden;
  padding: 0px 10px;
  text-align: left;
  border: none;
  box-shadow: 0px 0px 2px 0px;
  border-radius: 5px;
  background-color: #fff;
  &:hover{
    border: 2px solid green;
  }
}
